/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.container {
    width: 50px;
    height: 30px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}
a {
    color: blue;
    text-decoration: none; /* no underline */
}
.container {
    width: 50%;
    height: 50%;
    margin-right: auto;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}

.odd {
    background-color: #EEE8AA;
}
.even {
    background-color: #98FB98;
}
.thcolor {
    background-color:#9ACD32;
    color: white;
    width:97%;

}

#user-card{
    width: 300px;
    height: 300px;
    margin: 16px;
    padding: 16px;
}

