<p>This is the partial for view 1.</p>
<h3>Players:</h3>
<table border="1" accesskey="left">
    <tr class="container" ng-repeat="player in players">
        <td style="width:30%"><a href="#/view2" ng-click="selectSport($index)">
            <b>{{player.name}}<br><br><br>Skills:</b><br>
            Golf:&nbsp;{{player.gb}}<br>
            Base Ball: &nbsp;{{player.bb}}
        </a> </td>
        <td style="width:60%"><a href="#/view2" ng-click="selectSport($index)"><img src=" {{player.image}} ">{{$index}}</a> </td>
        <td >&nbsp; </td>
    </tr>
</table>
