<p></p>
<h3>Players:</h3>

<div ng-repeat="player in players" >
<div id="user-card" class="w3-card-2 w3-white" style="float:left">
    <div class="container">
        <a href="#/view2" ng-click="selectSport($index)"><img src=" {{player.image}} "></a>
    </div>
    <div>
        <a href="#/view2" ng-click="selectSport($index)">
            <b>{{player.name}}<br><br><br>Skills:</b><br><br>
            Golf:&nbsp;{{player.gb}}<br>
            Base Ball: &nbsp;{{player.bb}}
        </a>
    </div>

</div>
</div>